@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');


.page {}

.page__major {
    margin-bottom: 50px;
}



.major {}

.container {}

.major__label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    line-height: 30px;
    text-align: center;

    color: #63D2AA;
}

.major__heading {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;

    color: #284854;

}