@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');



.wrapper {}



body {
    background-color: #FFEFF1;
}



.container {
    max-width: 650px;
    margin: 0 auto;
}



.label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 135%;
    text-align: center;

    color: #798B56;
}

.text {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 160%;
    color: #284854;
}

.subheading {
    font-family: 'Roboto';
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #8BC441;
}




.page {}

.page__major {
    margin-bottom: 50px;
}

.page__step {}

.page__next {}

.page__result {}




.major {}

.major__label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #63D2AA;
}

.major__heading {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #284854;
}




.step {}

.step__label {}

.step__subheading {}

.step__text {}

.step__wrap-image {}

.step__image {}




.next {}

.next__label {}

.next__subheading {}

.next__text {}

.next__wrap-image {}

.next__image {}




.result {}

.result__laber {}

.result__subheading {}

.result__text {}

.result__wrap-image {}

.result__image {}